@import "../global.css";


/* main start */
.main_box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box_for_arrows{
    display: flex;
    align-items: center;
    gap: 100px;
  }
  .neftekor_box {
    width: 1200px;
    height: 590px;
    box-sizing: border-box;
    border: 3px dashed #2D2D2D;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .neftekor_title {
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    margin-top: 30px;
  }
  
  .neftekor_title_color {
    color: #DBA833;
  }
  
  .under_neftekor_title_paragraph {
    width: 849px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #5B5B5B;
  }
  
  .neftekor_box_images {
    display: flex;
    gap: 40px;
    margin-top: 20px;
  }
  
  .mini_a3c {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .mini_a3c_image {
    width: 350px;
    height: 200px;
  
  }
  
  .texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
  
  .under_image_title {
    width: 335px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
  
  .under_imge_paragraph {
    width: 262px;
    height: 44px;

@import "./global.css";


.header {
  background: linear-gradient(rgba(0, 0, 0, 0.235), rgba(0, 0, 0, 0.366)), url('./images/imgs/Group\ 101.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding: 20px 0;
  height: 1142px;
  position: relative;
}

.nav-bar {
  display: flex;

}

.nav-bar img {
  position: relative;
}

.wrrap-nav ul {
  margin-left: 40px;
  height: 40px;


}

.acount {
  display: flex;
  align-items: center;
  gap: 10px;
}


ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  border: 2px dashed #4F4F4F;
  border-left: 0;
  border-right: 0;
  gap: 25px;
}


ul li a {
  position: relative;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 10px;
  color: #FFFFFF;


}

.acount i {
  color: white;
}

label #btn,
label #cancel {
  position: absolute;
  right: 30px;
  font-size: 15px;
  cursor: pointer;
  display: none;
  color: white;
  font-size: 40px;
}

#check {
  display: none;
}



.inform {
  position: absolute;
  top: 7%;
  margin-left: 135px;
  display: flex;
  align-items: center;
  gap: 250px;

}

.inform p {
  padding-left: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #B6B6B6;
}

.date {
  display: flex;
  align-items: center;


}

.email {
  display: flex;
  align-items: center;
}

.phone {
  display: flex;
  align-items: center;

}

.title_text {
  text-align: center;
  position: relative;
  top: 266px;
  left: 100px;
}

.title_text h1 {
  width: 1006px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #DBA833;
}

.title_text span {
  color: white;
}

.title_text p {
  margin-right: 100px;
  margin-top: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #CECECE;
}

.title_text button {
  margin-right: 100px;
  margin-top: 20px;
  width: 288px;
  height: 54px;
  background: #DBA833;
  border-radius: 5px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.title_text h2 {
  margin-right: 100px;
  margin-top: 408px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
}

section {
  width: 100%;
  height: 800px;
  display: flex;
}

section>div {
  flex: 1;
  background-color: azure;
  position: relative;
}

.left {
  background: url(./images/imgs/sudoviye.png);
  background-size: cover;
}

.right {
  background: url(./images/imgs/ship.png);
  background-position: 80%;
  background-size: cover;
}

.text {
  width: 530px;
  height: 400px;
  padding: 90px;
  color: white;
  background: rgba(44, 44, 44, 0.8);
  backdrop-filter: blur(2.5px);
  position: absolute;

}

.text p {
  padding-top: 20px;
}

.text button {
  margin-top: 30px;
  width: 350px;
  height: 50px;
  border: none;
  background: #DBA833;
  border-radius: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.left .text {
  bottom: 0;
  right: 0;
}

.heating_oil {
  display: flex;
  background-image: url(./images/imgs/Union\ \(3\).png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.heat_left {
  flex: 1;
}

.het_right {
  flex: 1;
}

.het_box {
  width: 530px;
  height: 400px;
  background: rgba(44, 44, 44, 0.8);
  backdrop-filter: blur(2.5px);
}

.box-text {
  padding: 61px 80px;
}

.box-text h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}

.box-text p {
  padding-top: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #CECECE;
}

.box-text button {
  margin-top: 30px;
  width: 350px;
  height: 50px;
  background: #DBA833;
  border-radius: 5px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}


@media (max-width: 360px) {

  label #btn {
    top: 4%;
    right: 5%;
    display: inline-block;
  }




  .wrrap-nav {
    position: fixed;
    top: 0px;
    right: -100%;
    width: 55%;
    height: 150vh;
    padding-top: 80px;
    display: block;
    line-height: 20px;
    z-index: 100;
    background-color: whitesmoke;
    transition: 0.5s;

  }



  .header {
    width: 360px;
    height: 800px;
  }

  ul li a {
    color:
      #272727;
  }


  ul {
    border: 0;
  }

  #check:checked~.wrrap-nav {
    right: 0;
  }

  #check:checked~label #btn {
    display: none;
  }

  #check:checked~label #cancel {
    display: block;
    z-index: 101;
    color: #FFFFFF;

  }

  ul li a:hover {
    color: #DBA833;
  }

  .acount i {
    color: #DBA833;
  }

  .inform {
    height: 80px;
    position: absolute;
    top: 3%;
    left: 2%;
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }



  .inform p {
    font-size: 13px;
  }

  .inform img {
    width: 13px;
  }

  .title_text {
    position: absolute;
    top: 25%;
    left: 3%;
    width: 334px;
  }

  .title_text h1 {
    margin: auto;
    width: 316px;
    font-size: 36px;
    line-height: 44px;

  }

  .title_text p {
    margin-top: 10px;
    width: 339px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    line-height: 140%;
    text-align: center;
    color: #5B5B5B;
  }
  
  .book_mini_a3c {
    width: 445px;
    height: 50px;
    margin-top: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #DBA833;
    border: 2px solid #DBA833;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 36px;
  }
  
  .petrol_manufacturers {
    width: 1200px;
    height: 208px;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .manufacturers_title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    text-align: center;
  }
  
  .manufacturers_paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #5B5B5B;
  }
  
  .sponsors_emblems {
    display: flex;
    gap: 43px;
    align-items: center;
  }
  
  .geography {
    width: 1394px;
    height: 789px;
    background-color: #F8F8F8;
    border-radius: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 23px;
    margin-top: 106px;
  }
  .map{
    margin-bottom: 40px;
  }
  .geography_title {
    width: 504px;
    height: 57px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    margin-top: 30px;
  }
  
  .clients {
    width: 1200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 81px;
  }
  
  .clients_title {
    width: 220px;
    height: 57px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    text-align: center;
    color: #DBA833;
  }
  
  .clients_paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #5B5B5B;
  }
  
  .clients_images {
    display: flex;
    gap: 43px;
    align-items: center;
    margin-top: 20px;
  }
  
  
  
  /* main end */

@media (max-width: 360px) {
    .main_box {
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .neftekor_box {
        width: 340px;
        height: 1250px;
    }
   
    .arrow{
        display: none;
    }

    .neftekor_title {
        width: 299px;
        height: 76px;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        margin-top: 20px;
        color: #000000;
    }

    .under_neftekor_title_paragraph {
        width: 292px;
        height: 120px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;

        color: #5B5B5B;
    }

    .neftekor_box_images {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .mini_a3c {
        display: flex;
        gap: 10px;

    }

    .texts {
        display: flex;
        gap: 0px;
    }

    .mini_a3c_image {
        width: 300px;
        height: 200px;
        border: #DBA833 3px dashed;
        border-radius: 30px;
    }

    .under_image_title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: center;

        color: #000000;
    }

    .book_mini_a3c {
        width: 282px;
        height: 50px;
        margin: 0;
        margin-top: 20px
    }

    .petrol_manufacturers {
        width: 340px;
        height: 191px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }

    .manufacturers_title {
        width: 339px;
        height: 64px;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 27px;
        line-height: 32px;
        text-align: center;
    }

    .manufacturers_paragraph {
        width: 340px;
        height: 38px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #5B5B5B;
    }

    .sponsors_emblems {
        width: 340px;
        height: 55px;
        display: flex;
        gap: 12px;
    }

    .geography {
        width: 360px;
        height: 400px;
        margin-top: 55px;
        border-radius: 20%;
    }

    .geography_title {
        width: 284px;
        height: 32px;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 27px;
        line-height: 32px;
        text-align: center;
        color: #000000;
    }

    .map {
        width: 340px;
        height: 226px;
        border-radius: 30px;
        border: #DBA833 3px dashed;
    }
    .clients{
        width: 340px;
    }

    .clients_title {
        width: 124px;
        height: 32px;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 27px;
        line-height: 32px;
        text-align: center;

        color: #DBA833;
    }

    .clients_paragraph {
        width: 278px;
        height: 38px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;

        color: #5B5B5B;
    }
    .clients_images{
        width: 340px;
        height: 41px;
        display: flex;
        gap: 12px;
        justify-content: center;
    }

    line-height: 19px;
    color: #CECECE;
  }

  .title_text button {
    margin-right: 0;
    width: 230px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
  }

  .title_text h2 {
    margin-right: 0;
    margin-top: 0;
    margin-top: 200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
  }

  section {
    display: grid;
    height: auto;
  }

  .left,
  .right {
    width: 100%;
    height: 339px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right {
    background-position: center;
  }

  .text {
    text-align: center;
    position: relative;
    padding: 30px 25px;
    width: 300px;
    height: 239px;
    border-radius: 20px;
  }

  .text button {
    width: 230px;
    height: 42px;
    margin-top: 10px;
  }

  .heating_oil {
    height: 449px;
  }

  .heat_left {
    display: none;
  }

  .het_box {
    top: 10%;
    margin: auto;
    width: 300px;
    height: auto;
    position: relative;
    border-radius: 20px;
  }

  .box-text h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }

  .box-text P {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }

  .box-text {
    padding: 30px 25px;
    text-align: center;
  }

  .box-text button {
    width: 230px;
    height: 42px;
    font-size: 18px;
    line-height: 22px;
    background: #DBA833;
    border-radius: 5px;

  }



}