@import "../global.css";

/* header start */
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.235), rgba(0, 0, 0, 0.366)),
    url("../images/imgs/Group\ 101.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding: 20px 0;
  height: 750px;
  position: relative;
}

.arrows {
  width: 100%;
  position: absolute;
  top: 12%;
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
}

.nav-bar img {
  position: relative;
  z-index: 1;
}

.wrrap-nav ul {
  margin-left: 40px;
  height: 40px;
}

.acount {
  display: flex;
  align-items: center;
  gap: 10px;
}

ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  border: 2px dashed #4f4f4f;
  border-left: 0;
  border-right: 0;
  gap: 25px;
}

ul li a {
  position: relative;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 10px;
  color: #ffffff;
}

.acount i {
  color: white;
}

label #btn,
label #cancel {
  position: absolute;
  right: 30px;
  font-size: 15px;
  cursor: pointer;
  display: none;
  color: white;
  font-size: 40px;
}

#check {
  display: none;
}

.inform {
  position: absolute;
  top: 10%;
  margin-left: 135px;
  display: flex;
  align-items: center;
  gap: 250px;
}

.inform p {
  padding-left: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #b6b6b6;
}

.date {
  display: flex;
  align-items: center;
}

.email {
  display: flex;
  align-items: center;
}

.phone {
  display: flex;
  align-items: center;
}

.title_text {
  width: 1024px;
  text-align: center;
  position: relative;
  top: 66px;
  left: 220px;
}

.title_text h1 {
  width: 826px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #dba833;
}

.title_text span {
  color: white;
}

.title_text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #cecece;
}

.title_text button {
  margin-right: 220px;
  margin-top: 20px;
  width: 288px;
  height: 54px;
  background: #dba833;
  border-radius: 5px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.title_text h2 {
  margin-right: 100px;
  margin-top: 408px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}

.service_pargarph {
  width: 950px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 40px;
  height: 50px;
}

.service_pargarph P {
  padding: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #dba833;
  border: 2px dashed #dba833;
  background: #242424;
}

.rubl {
  margin-top: 40px;
  margin-right: 220px;
}

/* header end */

/* dizel main start */
.dizel_main_box {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.types_dizel {
  width: 1084px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.first_type_dizel {
  width: 1084px;
  height: 330px;
  border: 1px gray dashed;
  border-radius: 40px;
  display: flex;
  align-items: center;
}

.dizel_type_items_cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
}

.dizel_type_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

img {
  position: relative;
  z-index: -1;
}

.image_margin {
  margin-top: 20px;
}

.first_one_cover {
  margin: 0 145px 0 360px;
}

.second_one_cover {
  margin: 0 80px 0 295px;
}

.third_one_cover {
  margin: 0 145px 0 360px;
}

.first_title {
  width: 580px;
  height: 40px;
}

.second_title {
  width: 710px;
  height: 39px;
}

.third_title {
  width: 580px;
  height: 40px;
}

.dizel_type_paragraph {
  width: 580px;
  height: 96px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #5b5b5b;
}

.dizel_type_button {
  width: 350px;
  height: 50px;
  border: 2px solid #dba833;
  border-radius: 5px;
  color: #dba833;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  background-color: white;
  margin-top: 10px;
}

.second_type_dizel {
  width: 1084px;
  height: 330px;
  border: 1px gray dashed;
  border-radius: 40px;
  display: flex;
  align-items: center;
}

.third_type_dizel {
  width: 1084px;
  height: 330px;
  border: 1px gray dashed;
  border-radius: 40px;
  display: flex;
  align-items: center;
}

/* dizel main end */
.main_box {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.neftekor_title_color {
  color: #dba833;
}
.petrol_manufacturers {
  margin-top: 100px;
}
.manufacturers_title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
}

.manufacturers_paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #5b5b5b;
}

.sponsors_emblems {
  display: flex;
  gap: 43px;
  align-items: center;
}

.geography {
  width: 1394px;
  height: 789px;
  background-color: #f8f8f8;
  border-radius: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 23px;
  margin-top: 106px;
  position: relative;
  z-index: -1;
}

.map {
  margin-bottom: 40px;
}

.geography_title {
  width: 504px;
  height: 57px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  margin-top: 30px;
}

.clients {
  width: 1200px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 81px;
}

.clients_title {
  width: 220px;
  height: 57px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
  color: #dba833;
}

.clients_paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #5b5b5b;
}

.clients_images {
  display: flex;
  gap: 43px;
  align-items: center;
  margin-top: 20px;
}

/* main end */
/* section start */
.main_section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 185px;
}

.first_box_section {
  width: 1200px;
  height: 1304px;
  left: 360px;
  top: 4589px;
  background: #f8f8f8;
  border: 3px dashed #dba833;
  border-radius: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first_box_section_title {
  width: 196px;
  height: 57px;
  left: 862px;
  top: 4614px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 20px;
}

.first_section {
  width: 990px;
  height: 360px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
  margin-bottom: 30px;
}

.images_both {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
  z-index: 3;
}
.position {
  position: relative;
  z-index: -1;
}

.inside_extra_title {
  width: 450px;
  height: 38px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #dba833;
}

.lorem {
  width: 610px;
  height: 140px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #5b5b5b;
}

.after_section_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 80px;
  margin-bottom: 50px;
}

.after_section_title {
  width: 674px;
  height: 57px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
}

.cameras {
  display: flex;
  gap: 40px;
}

.first_camera {
  width: 310px;
  height: 430px;
  border: 1px #000000 solid;
  border-radius: 3%;
}

.box_for_image_camera {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px black solid;
  padding: 17px 0 17px 0;
  background: #f8f8f8;
  border-top-left-radius: 6%;
  border-top-right-radius: 6%;
  position: relative;
  z-index: -1;
}

.news_title {
  width: 270px;
  height: 24px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-top: 20px;
}

.text_text {
  width: 270px;
  height: 95px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #5b5b5b;
}

.more_button {
  width: 270px;
  height: 39px;
  background-color: white;
  border: 1px solid #dba833;
  border-radius: 5px;
  margin-top: 37px;
  color: #dba833;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.title_text_button {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.last_button {
  width: 350px;
  height: 50px;
  background-color: white;
  border: 2px solid #dba833;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #dba833;
}

/* section end */

/* footer start */
* {
  margin: 0;
  padding: 0;
}

.main_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.truck_image_part {
  width: 1920px;
  height: 400px;
  background: url(../images/imgs/truck.svg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.actual_form {
  width: 1263px;
  height: 166px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 50px;
}

.box_for_blur {
  width: 1263px;
  height: 166px;
  background-color: black;
  position: absolute;
  filter: blur(74px);
  opacity: 0.7;
}

.truck_bakcground_title {
  width: 342px;
  height: 43px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  margin: 0 0 0 27px;
  position: relative;
  z-index: 1;
}

.span_for_color {
  color: #dba833;
}

.input {
  width: 390px;
  height: 45px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-left: 10px;
  background: rgba(30, 30, 30, 0.7);
  color: #ffffff;
  border: 1px solid #ffffff;
  backdrop-filter: blur(2px);
  border-radius: 5px;
  outline: none;
}

::placeholder {
  color: #ffffff;
}

.send_button {
  width: 370px;
  height: 49px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: white;
  color: #dba833;
  border: #dba833 solid 2px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.agree_text {
  width: 360px;
  height: 20px;
  margin: 0px 0px 0px 900px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.input_cover {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.undeline {
  text-decoration: underline white 1px;
  text-underline-offset: 4px;
}

.coronas {
  width: 1920px;
  height: 684px;
  background: #1f1f1f;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background_corona {
  width: 816px;
  height: 685px;
  background: url(../images/imgs/corona.svg);
  position: absolute;
  margin-right: 1109px;
  opacity: 0.8;
}

.background_corona_two {
  width: 760px;
  height: 565px;
  background: url(../images/imgs/corona.svg);
  background-position: bottom;
  position: absolute;
  margin-left: 1161px;
  opacity: 0.8;
}

.coronas_title {
  width: 354px;
  height: 58px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #ffffff;
  margin-top: 35px;
  margin-bottom: 20px;
}

.first_guy {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.name_guy {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #dba833;
}

.occupation {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.telnum {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #b9b9b9;
}

.collegue {
  display: flex;
  gap: 30px;
}

.first_guy img {
  position: relative;
  z-index: 1;
}

.footer_map {
  width: 1920px;
  height: 634px;
  position: relative;
  z-index: 1;
}

.last_footer {
  width: 1920px;
  height: 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_first_line {
  width: 1200px;
  height: 120px;
  border-bottom: 1px dashed #b6b6b6;
  display: flex;
}

.footer_img_text_cover {
  display: flex;
  gap: 20px;
}

.footer_texts_cover {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer_text {
  width: 406px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #dba833;
  display: block;
}

.footer_second_cover {
  width: 500px;
  height: 100px;
  display: flex;
}

.footer_second_cover a {
  width: 174px;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #5b5b5b;
  text-decoration: none;
  display: inline-block;
  margin-left: 58px;
  margin-bottom: 14px;
}

.footer_cabinet {
  width: 175px;
  height: 86px;
  border: 2px solid #b6b6b6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 11px;
}

.footer_cabinet p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #b6b6b6;
}

.footer_second_line {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.just_box {
  height: 33px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.the_last_box {
  display: flex;
  gap: 30px;
  align-items: center;
}

.the_last_box p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

#the_first_id {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #5b5b5b;
}

.footer_extra {
  height: 15px;
}

.just_box p {
  color: #5b5b5b;
}

/* footer end */

/* media header start */

@media (max-width: 360px) {
  .arrows {
    display: none;
  }

  label #btn {
    top: 4%;
    right: 5%;
    display: inline-block;
  }

  .wrrap-nav {
    position: fixed;
    top: 0px;
    right: -100%;
    width: 55%;
    height: 150vh;
    padding-top: 80px;
    display: block;
    line-height: 20px;
    z-index: 100;
    background-color: whitesmoke;
    transition: 0.5s;
  }

  .header {
    width: 358px;
    height: 800px;
  }

  ul li a {
    color: #272727;
  }

  ul {
    border: 0;
  }

  #check:checked ~ .wrrap-nav {
    right: 0;
  }

  #check:checked ~ label #btn {
    display: none;
  }

  #check:checked ~ label #cancel {
    display: block;
    z-index: 101;
    color: #ffffff;
  }

  ul li a:hover {
    color: #dba833;
  }

  .acount i {
    color: #dba833;
  }

  .inform {
    height: 80px;
    position: absolute;
    top: 3%;
    left: 2%;
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .inform p {
    font-size: 13px;
  }

  .inform img {
    width: 13px;
  }

  .title_text {
    position: absolute;
    top: 25%;
    left: 3%;
    width: 334px;
  }

  .title_text h1 {
    margin: auto;
    width: 316px;
    font-size: 36px;
    line-height: 44px;
  }

  .title_text p {
    margin-top: 10px;
    width: 339px;
    height: 19px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #cecece;
  }

  .title_text button {
    margin-right: 0;
    width: 230px;
    height: 50px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
  }

  .title_text h2 {
    margin-right: 0;
    margin-top: 0;
    margin-top: 200px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #ffffff;
  }

  .title_text button {
    margin-top: 100px;
  }

  .service_pargarph {
    width: 334px;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .service_pargarph p {
    width: auto;
    height: 35px;
    padding: 5px 10px;
  }

  .rubl {
    position: absolute;
    top: 107%;
  }

  /* media header end */

  /* main start */
  .petrol_manufacturers {
    width: 340px;
    height: 191px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .manufacturers_title {
    width: 339px;
    height: 64px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
  }

  .manufacturers_paragraph {
    width: 340px;
    height: 38px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #5b5b5b;
  }

  .sponsors_emblems {
    width: 340px;
    height: 55px;
    display: flex;
    gap: 12px;
  }

  .geography {
    width: 360px;
    height: 400px;
    margin-top: 55px;
    border-radius: 20%;
  }

  .geography_title {
    width: 284px;
    height: 32px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    color: #000000;
  }

  .map {
    width: 340px;
    height: 226px;
    border-radius: 30px;
    border: #dba833 3px dashed;
  }

  .clients {
    width: 340px;
    height: 110px;
    margin-top: 80px;
  }

  .clients_title {
    width: 124px;
    height: 32px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    text-align: center;

    color: #dba833;
  }

  .clients_paragraph {
    width: 278px;
    height: 38px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #5b5b5b;
  }

  .clients_images {
    width: 340px;
    height: 41px;
    display: flex;
    gap: 12px;
    justify-content: center;
  }

  /* main end */
  /* section start*/
  .main_section {
    width: 360px;
    height: 2400px;

    margin-top: 100px;
  }

  .first_box_section {
    width: 340px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .first_box_section_title {
    width: 110px;
    height: 32px;
    text-align: center;
    font-size: 27px;
    line-height: 32px;
  }

  .first_section {
    width: 320px;
    height: 256px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .images_both {
    display: none;
  }

  .inside_extra_title {
    width: 290px;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .lorem {
    width: 290px;
    height: 187px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

  .after_section_box {
    width: 340px;
  }

  .after_section_title {
    width: 267px;
    height: 64px;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 25px;
  }

  .cameras {
    display: flex;
    flex-direction: column;
  }

  .first_camera {
    width: 255px;
    height: 340px;
  }

  .box_for_image_camera {
    height: 157px;
  }

  .box_for_image_camera img {
    width: 152px;
    height: 128px;
  }

  .news_title {
    width: 175px;
    height: 21px;
    font-size: 18px;
    line-height: 21px;
    margin: 10px 70px 0 10px;
  }

  .text_text {
    width: 222px;
    height: 85px;
    font-size: 14px;
    line-height: 17px;
    margin: 0 23px 0 10px;
  }

  .more_button {
    width: 235px;
    height: 42px;
    margin-top: 10px;
  }

  .last_button {
    width: 256px;
    height: 50px;
    margin-bottom: 40px;
  }

  /* section end */

  /* dizle main responsive start */
  /* @media (max-width: 360px) { */
  .dizel_main_box {
    width: 360px;
  }

  .types_dizel {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .first_type_dizel {
    width: 340px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image_one {
    width: 215px;
    height: 208px;
    margin-left: 90px;
  }

  .dizel_type_items_cover {
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }

  .dizel_type_title {
    width: 320px;
    height: 53px;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }

  .dizel_type_paragraph {
    width: 320px;
    height: 133px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }

  .dizel_type_button {
    width: 250px;
    height: 50px;
    margin: 0 0 20px 0;
  }
  .second_type_dizel {
    width: 340px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .third_type_dizel {
    width: 340px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image_two {
    width: 215px;
    height: 168px;
    margin-left: 30px;
    margin-top: 20px;
  }
  .image_margin {
    width: 240px;
    height: 186px;
    padding: 0px 0px 0px 25px;
    position: relative;
    z-index: -1;
    margin: 0;
    position: absolute;
  }
  .third_one_cover {
    position: absolute;
    margin: 203px 0px 0px 0px;
  }
  .speacial_button {
    margin-top: 14px;
  }
  .second_one_cover {
    margin: 0;
  }
  .first_one_cover {
    margin: 0;
  }
  /* dizle main responsive end */

  /* footer responsive start */

  /* @media (max-width: 360px) { */
  * {
    margin: 0;
    padding: 0;
  }

  .main_footer {
    width: 360px;
  }

  .truck_image_part {
    width: 360px;
    height: 438px;
    background-position-x: 77%;
    background-position-y: 20%;
    background-size: cover;
  }

  .actual_form {
    width: 384px;
    height: 303px;
  }

  .truck_bakcground_title {
    width: 257px;
    height: 32px;
    font-size: 27px;
    line-height: 32px;
    margin: 0 0 0 10px;
  }

  .input_cover {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input {
    width: 340px;
    height: 45px;
  }

  .send_button {
    width: 351px;
    height: 45px;
  }

  .agree_text {
    width: 315px;
    height: 17px;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 0 10px;
  }

  .box_for_blur {
    width: 360px;
  }

  .undeline {
    text-decoration: underline white 1px;
    text-underline-offset: 2px;
  }

  .box_for_blur {
    width: 360px;
    height: 303px;
    opacity: 0.8;
  }

  .coronas {
    width: 360px;
    height: 1307px;
  }

  .coronas_title {
    width: 199px;
    height: 33px;
    font-size: 27px;
    line-height: 33px;
    margin-top: 40px;
  }

  .background_corona {
    width: 360px;
    height: 621px;
    margin: 0;
  }

  .background_corona_two {
    width: 790px;
    height: 721px;
    margin: 500px 600px 0px 0;
  }

  .collegue {
    display: flex;
    flex-direction: column;
  }

  .first_guy img {
    width: 250px;
    height: 285px;
  }

  .name_guy {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .occupation {
    font-size: 14px;
    line-height: 17px;
  }

  .telnum {
    font-size: 14px;
    line-height: 17px;
  }

  .footer_map {
    width: 360px;
    height: 400px;
  }

  .footer_map img {
    width: 360px;
    height: 400px;
  }

  .last_footer {
    width: 360px;
    height: 550px;
  }

  .footer_first_line {
    width: 360px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

  .footer_img_text_cover {
    width: 360px;
    display: flex;
    justify-content: center;
  }

  .footer_text {
    width: 223px;
    height: 24px;
    font-size: 10px;
    line-height: 12px;
  }

  .footer_second_cover {
    width: 360px;
    display: flex;
    gap: 50px;
  }

  .footer_second_cover a {
    width: 140px;
    height: 19px;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    margin-left: 10px;
  }

  .footer_cabinet {
    width: 340px;
    height: 100px;
  }

  .footer_second_line {
    width: 360px;
    display: flex;
    flex-direction: column-reverse;
    gap: 18px;
  }

  .just_box {
    width: 360px;
    height: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .the_last_box {
    width: 360px;
    display: flex;
    gap: 18px;
  }

  .just_box p {
    width: 219px;
    height: 17px;
    font-size: 14px;
    line-height: 17px;
    margin-left: 10px;
  }

  .the_last_box p {
    width: 125px;
    height: 19px;
    font-size: 16px;
    line-height: 19px;
    margin-left: 8px;
  }

  .a_hrefs {
    width: 155px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  /* } */
  #petrol {
    width: 155px;
  }
  /* footer responsive end */
}
